{% load static %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta charset="UTF-8"/>
</head>
<div>
    <div id="mapa">{% leaflet_map "main" callback="map_init" %}</div>
    <div id="desc">
        <div id="header">Outlet żywności</div>
        <div id="title">Tytuł</div>
        <div id="descd">desc</div>
        <div id="telephone">{{ tab.0.1 }}</div>
<div id="opis">Autorzy:<br>
        Paweł Dopierała<br>
        Bartosz Adamczyk<br>
        Zespół Szkół Politechnicznych we Wrześni</div>
    </div>
</div>

<script type="text/javascript">
    let foo = false;

    function onClick(e) {
        if (!foo) {
            foo = true;
            document.getElementById("desc").style.width = "25%";
            document.getElementById("desc").style.paddingRight = "10px";
            document.getElementById("desc").style.paddingLeft = "10px";

            document.getElementById("mapa").style.width = "75%";
            document.getElementById("title").style.overflow = "";
            document.getElementById("descd").style.overflow = "";
            document.getElementById("telephone").style.overflow = "";
            document.getElementById("telephone").style.display = "block";

            document.getElementById("header").style.overflow = "";

        }
        document.getElementById("title").innerText = this.options.name;
        document.getElementById("descd").innerText = this.options.desc;
        document.getElementById("telephone").innerText = this.options.tel;
    }

    function map_init(map, options) {
        // get point lat and lon
        {% for d in tab %} //5 i 6
            var lon = "{{ d.2 }}";
            var lat = "{{ d.3 }}";
            // zoom to point & add it to map
            map.setView([lat, lon], 12);
            L.marker([lat, lon], {
                name: "{{ d.1 }}",
                desc: "{{ d.4 }}",
                tel: "{{ d.5 }}"
            }).addTo(map).on('mousedown', onClick);
        {% endfor %}
    }
</script>
</html>